<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FrameworkPaths</key>
	<array>
		<string>../Demo/Pods</string>
	</array>
	<key>ShieldPaths</key>
	<array>
		<string>FBKVOController</string>
		<string>MJExtension</string>
	</array>
	<key>ShieldClass</key>
	<array>
		<string>DemoModel</string>
	</array>
	<key>MethodSuffix</key>
	<array>
		<string>demo0</string>
		<string>demo1</string>
		<string>demo2</string>
	</array>
	<key>MethodPrefix</key>
	<array>
		<string>demo3</string>
		<string>doom4</string>
		<string>demo5</string>
	</array>
	<key>RootPath</key>
	<string>../Demo</string>
	<key>ReferencePath</key>
	<string>../Reference</string>
	<key>ProjectPrefix</key>
	<string>Mix</string>
	<key>OpenLog</key>
	<true/>
</dict>
</plist>
